<section id="footer" class="section bg-black padding-7">
  <div class="row"> 
      <div class="col-lg-6 col-md-6 left_footer_grid">
        <div class="d-flex justify-content-end"> 
            <p class="get_in_touch_text_1">We look forward to <br> hearing from you. <br> Let's see how we can help.</p> 
        </div>
        <div class="d-flex justify-content-end pr-5">
          <img src="{{ site.baseurl }}/assets/img/icon-footer.png" alt=""> 
        </div>
      </div>

      <div class="col-lg-6 col-md-6 right_footer_grid">
          <a href="{{ site.baseurl }}/estimate">
            {% if page.name == "aboutus.html" %} 
              Contact us
            {% elsif page.name == "services.html" %}
              Book a free consultation
            {% elsif page.name == "index.html" %}
              GET A FREE <br> COMPARISON
            {% else %}
              Contact us
            {% endif %}
          </a>
      </div>

  </div>

  <div class="footer-bottom pt-4 pb-4">
    <div class="row">
 

      <div class="col-lg-6 d-flex">
        <div class="position-relative back_top_grid">
          <a class="back_top" >BACK TO TOP</a>
          <a class="back_top img" ><img src="{{ site.baseurl }}/assets/img/back_top.png" alt=""> </a>
        </div> 
      </div>

    </div>
  </div>
</section>
   