  <section class="footer"> 
      <div class="row" style="margin-right: 0px;margin-left: 0px;" >
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right float-sm-right col-4"><img src="{{ site.baseurl }}/assets/img/inc_logo.svg" >
              <p class="float-right llc">&nbsp; &nbsp; &nbsp; OmniTrust©2023&nbsp;</p>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center col-8">
                          <p class="get_in_touch_text_1">We look forward to <br> hearing from you. <br> Let's see how we can help.</p> 
            <button class="btn btn-info buttons" type="button" style="border-style: none;background: #5C46F9;border-radius: 0px;">Contact us</button>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-2"></div>
      </div> 
  </section> 